/* Small devices such as large phones (640px and up) */
/* @media only screen and (min-width: 40em) {...} */

/* Medium devices such as tablets (768px and up) */
/* @media only screen and (min-width: 48em) {...} */

/* Large devices such as laptops (1024px and up) */
/* @media only screen and (min-width: 64em) {...} */

/* Largest devices such as desktops (1280px and up) */
/* @media only screen and (min-width: 80em) {...} */

@media only screen and (min-width: 40em) {
    #team {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

#team {
    min-width: 25em;
    background-color: black;
}

.pokemon {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    border-color: 3px solid white;
    box-sizing: border-box;
}

.info {
    width: 100%;
}

h1, h2, h3 {
    color: white;
    width: 100%;
}

body {
    margin: 0px;
}